.container(style="margin-top: 50px;")
  .row
    .col-lg-12
      .jumbotron
        %h1 Transaction
        %p
          Great! Now it's time to enter your first transaction. The contribution profile that you just created will be automatically selected. Enter a contribution amount, and SaveTracker will give you a preview of how your contribution will be divided up before you go ahead and commit the data.

        = form_for SavingsTransaction.new do |f|
          = f.label :amount
          = f.text_field :amount, class: "form-control", style: "width: 100px", id: "amount_text"
          = f.hidden_field :contribution_profile_id, :value => @profile.id
          
          %br
          %table.table.table-striped
            %thead
              %tr
                %th Budget
                %th Rate
                %th Balance
                %th Contribution Amount
            %tbody
              - @profile.contribution_rates.each do |rate|
                %tr.budget-row{id: "budget-" + rate.budget.id.to_s}
                  %td.budget-name= rate.budget.name
                  %td.budget-rate #{rate.rate}%
                  %td.budget-balance #{number_to_currency(rate.budget.balance)}
                  %td.budget-contribution-amount $0.00
          = f.submit "Create Transaction", class: "btn btn-primary"

    
  